#galeryContainer{
    width: 100%;
    float: left;  
    margin-top: 4%; 
    background-color: rgb(22, 64, 75);
}

.galery{
    margin-top: 4%;
    margin-left: 18%;
}  

.paint {
    width: 300px;
    margin-bottom: 3rem;
    transition: 0.5s all ease-in-out;
    text-align: -webkit-center;
    margin-bottom: 6%;
}

.paint {   
    transition: 0.4s all ease-in-out;
}

.paint:hover {
    transform: scale(1.2) !important;
}

.tema {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
}
