html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita barras de desplazamiento */
}

#arbol {
    display: block; /* Asegura que el canvas se muestre como un bloque */
    width: 100%;
    height: 100%;
    /*background-color: rgb(12, 103, 103);*/
    background-image: url("../images/wallpaper.jpg");
    background-size: 100%;
    z-index: 0;
    position: absolute;
}

#flores {
    display: block; /* Asegura que el canvas se muestre como un bloque */
    width: 100%;
    height: 100%;
    background-size: 100%;
    z-index: 1;
    position: absolute;
}

.slider-container {
    color: white;
    width: 25%;
    margin: 20px auto;
    position: absolute;
    left:40px;
    top: -0px;
    z-index: 40;
}

/*input*/
#year-slider {
    width: 110%;
    margin-left: -20px;
    height: 8px;
    appearance: none;
    background-color: transparent; /* Establecer el color de fondo del slider como transparente */
    border-radius: 10px;
    border: 2px solid white; /* Borde de la línea del slider */
}


/*bolita*/
#year-slider::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    background: white; /* Color de la bolita */
    border-radius: 50%;
    border: 2px solid black; /* Borde de la bolita */
    appearance: none; /* Eliminar el estilo predeterminado del thumb */
    margin-top: -13px; /* Ajustar la posición de la bolita */
    margin-left: 0px;
    box-sizing: border-box; /* Incluir el borde en el tamaño */
}

/*numeros labels*/
#tickmarks {
    display: flex;
    justify-content:space-evenly ;
    position: absolute;
    bottom: -30px;
    left: -35px;
    width: 120%;
}

/*Marcas*/
#tickmarks::before {
    content: attr(min);
    position: absolute;
    left: 0;
}

#tickmarks::after {
    content: attr(max);
    position: absolute;
    right: 0;
}


#tickmarks option {
    position: relative;
}

/* Estilo para las líneas de las marcas */
#tickmarks option::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Ancho de las líneas */
    height: 10px; /* Altura de las líneas */
    background-color: rgb(192, 129, 20); /* Color de las líneas */
}


/* Contador*/

#marcador{
    position: absolute;
    top: 5px;
    right:5px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    text-align: center;
    line-height: 80px;
}

#marca_ninios {
    border: 4px solid rgb(22, 76, 143);
    color: white;
}

#marca_ninias {
    border: 4px solid rgb(222, 120, 137);
    color: white;
}

/*Check acumulative*/

#acum_check{
    position: absolute;
    top: 18px;
    left: 500px;
    z-index: 20;
}

#acum_check_text{
    position: absolute;
    top: 18px;
    left: 520px;
    color: white;
}


